%h1 Listing shops

%table
  %thead
    %tr
      %th Name
      %th Address
      %th Image
      %th Description
      %th Latitude
      %th Longitude
      %th
      %th
      %th

  %tbody
    - @shops.each do |shop|
      %tr
        %td= shop.name
        %td= shop.address
        %td= shop.image
        %td= shop.description
        %td= shop.latitude
        %td= shop.longitude
        %td= link_to 'Show', shop
        %td= link_to 'Edit', edit_shop_path(shop)
        %td= link_to 'Destroy', shop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Shop', new_shop_path
