.container{style: 'padding-top: 20px !important'}
  .col-md-3
  .col-md-6
    .thumbnail
      %img{:alt => "image", :src => @shop.image}/
      .caption
        %h3
          = @shop.name
        %p
          = @shop.address
        %p
          = @shop.description
        = link_to 'Edit', edit_shop_path(@shop), class: 'btn btn-default'
        = link_to 'Back', shops_path, class: 'btn btn-default'
  .col-md-3








